

body{

background:linear-gradient(135deg,#0f0f0f,#1c1c1c);

font-family:Arial;

color:white;

text-align:center;

padding-top:50px;

}





h1{

font-size:40px;

color:#76B900;

margin-bottom:10px;

}





h3{

font-size:22px;

margin-bottom:30px;

color:hsl(117, 55%, 43%);

}





p{

font-size:18px;

margin-bottom:20px;

}





.kotak{

width:400px;

margin:auto;

background:#1a1a1a;

padding:20px;

border-radius:15px;

box-shadow:0px 0px 20px black;

}




.kotak h2{

color:#76B900;

margin-bottom:15px;

}





.kotak ul{

list-style:none;

padding:0;

}





.kotak li{

background:#2a2a2a;

margin:10px;

padding:10px;

border-radius:8px;

transition:0.3s;

}






.kotak li:hover{

background:#76B900;

color:black;

transform:scale(1.05);

}





.bawah{

margin-top:30px;

color:gray;

}